<div class="nav-bar-horizontal">
    <img src="/images/cj-spurr-logo-w.png" class="logo" draggable="false">
    <div style="margin-right: 25px;">
        <a href="/" class="<%= activePage === 'home' ? 'active' : '' %>">HOME</a>
        <a href="/about" class="<%= activePage === 'about' ? 'active' : '' %>">ABOUT</a>
        <a href="/our-services" class="<%= activePage === 'ourServices' ? 'active' : '' %>">OUR SERVICES</a>
        <a href="/our-projects" class="<%= activePage === 'ourProjects' ? 'active' : '' %>">OUR PROJECTS</a>
        <a href="/testimonials" class="<%= activePage === 'testimonials' ? 'active' : '' %>">TESTIMONIALS</a>
        <a href="/contact" class="<%= activePage === 'contact' ? 'active' : '' %>">CONTACT</a>
    </div>
    <span id="hamburger" class="hamburger">&#9776;</span>
</div>

<div id="vertical-nav-bar" class="nav-bar-vertical">
    <a href="javascript:void(0)" id="close-btn" class="close-btn">X</a>
    <a href="/" class="<%= activePage === 'home' ? 'active' : '' %>">HOME</a>
    <a href="/about" class="<%= activePage === 'about' ? 'active' : '' %>">ABOUT</a>
    <a href="/our-services" class="<%= activePage === 'ourServices' ? 'active' : '' %>">OUR SERVICES</a>
    <a href="/our-projects" class="<%= activePage === 'ourProjects' ? 'active' : '' %>">OUR PROJECTS</a>
    <a href="/testimonials" class="<%= activePage === 'testimonials' ? 'active' : '' %>">TESTIMONIALS</a>
    <a href="/contact" class="<%= activePage === 'contact' ? 'active' : '' %>">CONTACT</a>
</div>